<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestXcodeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A8FD85B1CD0630D00CAAEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8FD86F1CD0630D00CAAEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8FD87A1CD0630D00CAAEB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
